{% for room in rooms %}
<form class="videoRoom align-self-center m-auto mt-5 mb-5 p-2 lobby" style=" border: 2px black; width: 300px; height: 100px; background-color: rgba(123, 123, 214, 0.459);" id="room-{{room.uid}}" >
    <div id="room_name-{{room.uid}}" name="room_name" style="font-weight: bold; font-size: 25px;">
        {{room.name}}
    </div>

    <div id="submit-{{room.uid}}" >
        <button type="submit">Join Stream</button>
    </div>
</form>

<script type="text/javascript"> 

    document.getElementById('room-{{room.uid}}').addEventListener('submit',async(e) =>{
        e.preventDefault()
        let room= e.target.firstElementChild.innerText.toUpperCase()
        let response=await fetch(`/video/get_creds/?channel=${room}`)
        let data= await response.json()

        let UID=data.uid
        let token=data.token
        let user=data.Newuser
        sessionStorage.setItem('UID',UID)
        sessionStorage.setItem('token',token)
        sessionStorage.setItem('room',room)
        sessionStorage.setItem('user',user)

        window.open('{% url "video_room" %}','_self')
    }

    )

</script>

{% endfor %}