{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    {% if not error %}
        <div>
            <a href="{% url 'video_create' %}"><img src="{% static 'images/add_sign.png' %}" alt="create" class="control-icon"></a>
        </div>

        <div id="welcome-message">
            <h1>BookBuddy Community Centre</h1>
        </div>
        
    {% else %}
    <h2 style="font-size: 60px; color: red;">You are not a premium user. Want to <a href="{% url 'payment' %}">subscribe</a>?</h2>
    {% endif %}
</main>

{% include 'video/components.html' %}

{% endblock content %}