{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    {% if not error %}
    <section id="form-container">
        <img src="{% static 'images/myLogo.png' %}" alt="Company_logo" id="logo">

        <div>
            <h1>BookBuddy Community Centre</h1>
        </div>
        <form action="" id="form">
            <div class="form-field">
                <input type="submit" id="" value="Join Stream"/>
            </div>
        </form>
    </section>
    {% else %}
    <h2 style="font-size: 60px; color: red;">You are not a premium user. Want to <a href="{% url 'payment' %}">subscribe</a>?</h2>
    {% endif %}
</main>

<script type="text/javascript">
    let form=document.getElementById('form')

    let sub= async(e)=>{
        e.preventDefault()
        window.open('{% url "video_room" %}','_self')
    }

    form.addEventListener('submit',sub)
</script>

{% endblock content %}