{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookBuddy</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'styles/style.css' %}"> -->
</head>
<body style="background-color: #D0BDF0;">
    <div class="wrapper">
        <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="logo" style="width: 200px; height: 80px;"></a></div>
    {% block content %}

    {% endblock content %}
    </div>
</body>
</html>