{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>BookBuddy</title>
</head>
    <body>
        <header>
            <div class="wrapper">
                <div class="logo"><a href=""><img src="{% static 'images/logo.png' %}" alt="logo" style="width: 200px; height: 80px;"></a></div>
                <ul class="menu">
                    <li><a href="login/">Login</a></li>
                    <li><a href="signup/">Signup</a></li>
                </ul>
            </div>
            <div class="text">
                <h1>What we aim?</h1>
                <p>We plan to build the largest community of book readers on our website.So help us in our mission and explore with us the world of books.</p>
                <a href="/books/home/">Explore</a>
            </div>
        </header>
    </body>
</html>